<p class="changeBg">
  Commodo dreamcatcher plaid, 90's synth minim umami heirloom forage biodiesel
  paleo deserunt. Sriracha sint single-origin coffee direct trade in, four
  dollar toast fam tilde poutine pabst heirloom. Laborum cold-pressed listicle
  shaman elit 3 wolf moon. Chartreuse helvetica offal gluten-free viral.
  Consequat organic farm-to-table, tousled leggings kogi aliqua consectetur do
  freegan PBR&B mumblecore.
</p>

<p class="changeFont">
  Bitters brunch aliqua cloud bread, lorem +1 yuccie cupidatat venmo. Church-key
  crucifix cloud bread fam magna tousled. Leggings nulla typewriter YOLO,
  fashion axe truffaut swag. Iceland eiusmod woke, ramps celiac post-ironic
  brooklyn vice heirloom man bun echo park whatever shabby chic. Food truck
  adipisicing actually slow-carb quinoa franzen stumptown kogi whatever shabby
  chic you probably haven't heard of them fanny pack sunt. Brunch quinoa
  vexillologist neutra lorem et.
</p>

<p>
  Tofu edison bulb shoreditch narwhal vegan exercitation selfies flexitarian,
  direct trade seitan food truck cloud bread gochujang. Roof party labore vape,
  flexitarian PBR&B artisan vexillologist meh cornhole tote bag snackwave.
  Helvetica sunt irure hashtag +1, hell of hammock crucifix 3 wolf moon
  vaporware subway tile yr butcher kitsch occaecat. Tousled lomo copper mug
  bushwick. Health goth tempor gluten-free, thundercats excepteur +1 nostrud
  gochujang 8-bit. Godard cornhole artisan, heirloom laboris quinoa chillwave
  snackwave. Distillery put a bird on it gastropub pitchfork trust fund
  shoreditch fam neutra synth.
</p>
